/* ! Start Component */
:root {
  --dark-color: #19283f;
  --light-color: #33d1cc;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-color)
}

/* ! End Component */
/* ! Start Header */
.main-title::after {
  content: " ";
  width: 150px;
  height: 2px;
  background-color: var(--light-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.main-title {
  h2 {
    font-size: 36px;
  }
}

/* ! End Header */
/* ! Start Navbar */
.navbar {
  background-color: var(--dark-color);

  .navbar-nav {
    .nav-link {
      color: white;
    }

    .nav-link.active,
    .nav-link:focus,
    .nav-link:hover {
      color: var(--light-color);
    }

    .btn {
      border-radius: 50% !important;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      -ms-border-radius: 50% !important;
      -o-border-radius: 50% !important;
    }
  }

  .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
  }

  .navbar-toggler[aria-expanded="true"] {
    border-color: var(--light-color);
  }

  .collapse {
    button {
      padding: 7px 35px;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
    }

    .search {
      color: var(--light-color);
      border-left: 1px solid var(--light-color);
    }
  }
}


/* ! End Navbar */
/* ! Start Landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(75vh - 72px);

  h1 {
    font-size: 54px;
  }

  button {
    padding: 10px 60px;
  }
}

/* ! End Landing */
/* ! Start Feature */
.feature {
  padding-bottom: 80px;

  .feat {
    padding: 0 28px;

    .icon-holder {
      height: 270px;

      svg,
      .number {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }

      .number {
        color: var(--section-color);
        font-size: 18rem;
        margin-bottom: -115px;
      }

      .icon {
        color: var(--light-color);
      }
    }

    h4 {
      color: var(--yellow-color);
      font-size: 26px;
    }

    p {
      word-spacing: 2px;
    }
  }
}

/* ! End Feature */
/* ! Start Our-Work */
.our-work {
  background-color: var(--section-color);
  padding-bottom: 1000px;

  ul.list-unstyled {
    li {
      margin: 0 10px;

      button {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        @media(min-width: 768px) {
          padding: 8px 22px;
        }
      }
    }

    @media (max-width: 767px) {
      li {
        margin: 0 5px;
      }
    }
  }

  .box {
    img {
      padding: 5px;
    }
  }

  .box:hover {
    cursor: crosshair;
  }

  button {
    font-size: 14px;
  }
}

/* ! End Our-Work */
/* ! Start Stuff */
.stuff .text {
  width: 655px;
  max-width: 99%;
}

/* ! End Stuff */
/* ! Start Team */
.team {
  background-color: var(--section-color);

  .text {
    width: 1056px;
    max-width: 98%;
  }

  .box {
    img {
      width: 100%;
    }

    h4 {
      background-color: var(--light-color);
    }

    blockquote {
      height: 125px;
      padding: 24px 34px;
    }
  }
}

/* ! End Team */
/* ! Start Project */

.project {
  background-color: var(--dark-color);
}

/* ! End Project */
/* ! Start Subscribe */
.subscribe {
  background-color: var(--yellow-color);

  .text {
    font-weight: 600;
    font-size: 20px;
  }

  input[type="email"] {
    border: none;
    border-bottom: 1px solid white
  }

  input[type="email"]:focus {
    outline: none;
  }

  input[type="email"]::placeholder {
    color: white;
  }

  input.btn {
    background-color: var(--dark-color);
    color: var(--yellow-color);
  }
}

/* ! End Subscribe */
/* ! Start Footer */
.footer {
  background-color: var(--dark-color);

  .info {
    p {
      font-size: 15px;
      line-height: 2.7;
      margin-bottom: 100px;
    }

    @media (max-width: 767px) {
      p {
        margin-bottom: 40px;
      }
    }
  }

  .links {
    li {
      margin: 14px 0;
    }
  }

  .contact {
    p {
      font-size: 17px;
      line-height: 2.4;
      margin-bottom: -10px;
    }
  }

  .copyright>span {
    color: var(--light-color);
  }

  .copyright div span {
    color: var(--yellow-color);
  }

  @media (max-width: 767px) {
    .copyright {
      margin-bottom: 40px;
    }
  }

  .contact ul svg {
    width: 20px;
    height: 20px;
  }

  .facebook {
    background-color: #1877f2;
  }

  .twitter {
    background-color: #1da1f2;
  }

  .linkedin {
    background-color: #0077b5;
  }

  .youtube {
    background-color: #ff0000;
  }

  span::after {
    content: "❤️";
    display: none;
  }

  span[class="my-name"]:hover,
  span[class="my-name"]:hover::after {
    color: red;
    font-size: 20px;
    display: unset;
  }
}

/* ! End Footer */